body {
  background-image: url('./bg.png');
  height: 100%;
  width: 100%;
  background-position: center;
  background-repeat: repeat;
  background-size: 100%;
}

.row1 {
    margin-top: 100px
}

.row2 {
    margin-top: 100px;
}

.head1 {
    font-size:  70px;
}

.btn-circle.btn-xl {
    width: 140px;
    height: 140px;
    padding: 20px 32px;
    border-radius: 70px;
    font-size: 24px;
    line-height: 1.33;
}

.btn-circle {
    width: 30px;
    height: 30px;
    padding: 6px 0px;
    border-radius: 15px;
    text-align: center;
    font-size: 12px;
    line-height: 1.42857;
}
