body {
  background-image: url('../bg.png');
  height: 100%;
  width: 100%;
  background-position: center;
  background-repeat: repeat;
  background-size: 100%;
}

.row1 {
    margin-top: 150px
}

.row2 {
    margin-top: 100px;
}

.row3 {
    margin-top: 250px;
}
.head1 {
    font-size:  70px;
}

.btn-circle.btn-xl {
    width: 210px;
    height: 210px;
    padding: 30px 48px;
    border-radius: 105px;
    font-size: 24px;
    line-height: 1.33;
    white-space: normal;
}

.btn-circle {
    width: 30px;
    height: 30px;
    padding: 6px 0px;
    border-radius: 15px;
    text-align: center;
    font-size: 12px;
    line-height: 1.42857;
}
